<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nuworl: Castle Doomsbury edge of the Noman's domain</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/bootstrap/css/blog-post.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="/css/chat.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Nuworl</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Castle Doomsbury</h1>
                <p class="blog-post-meta">The edge of the Noman's domain </p>
                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmnlT4XCENMpuJgP2osgdEuANp5T-dKY1l8zi9U_8IEL9Glvzi" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>

                <hr>

                <!-- game Comments -->

                <!-- Comments Form -->
                


            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-eye-open"></span> Nuworl Interactive Console
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-comment">
                            </span>Chat View</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-picture">
                            </span>Game View</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-scale">
                            </span>Stats View</a></li>
                            <li class="divider"></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-education"></span>
                                Help</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body" id="panel-body">
                    <ul class="chat" id="chat" name="chat">
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="/img/GameMaster_Av.png" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">Game Master</strong> <small class="pull-right text-muted" id="firstime">
                                        </small>
                                </div>
                                <p>
                                    Welcome to Nuworl, Adventurer!
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" name="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" name="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>


            

                <!-- Posted Comments -->

                <!-- Comment -->
               
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>Nuworl Copyright &copy;  2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/js/libs/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Jquery Ajax JavaScript -->
    <script>
    function date_time(){
    var currentdate = new Date(); 
    var datetime = currentdate.getDate() + "/"
                + (currentdate.getMonth()+1)  + "/" 
                + currentdate.getFullYear() + " @ "  
                + currentdate.getHours() + ":"  
                + currentdate.getMinutes() + ":" 
                + currentdate.getSeconds();
        return datetime;
        };
    var timenow = date_time();
    $('#firstime').append('<span class="glyphicon glyphicon-time"></span>' + timenow);
        
    function paintCanvas(canvasid) {
	dCanvas = $('#' + canvasid).get(0);
	canvasContext = dCanvas.getContext("2d");
	var images = {};
    addToLoadQueue('img/blank.png');
	addToLoadQueue('img/road-no.png');
	addToLoadQueue('img/road-t.png');
	addToLoadQueue('img/road-x.png');
	addToLoadQueue('img/grass.png');
	addToLoadQueue('img/road-so.png');
	addToLoadQueue('img/building01.png');
	loadData();
	
	function isEven(value) {
		if (value%2 == 0){
			return true;
		}else{
			return false;
		}
	}
	
	function addToLoadQueue(filename){
		images[filename] = {loaded: false};
	}
	
	function updateLoadProgress(){
		var loadedImages = 0;
		var imagesToLoad = 0;
		for (var image in images) {
			if(images[image].loaded){
				loadedImages++;
				
			}else{
				imagesToLoad++;
			}
		}
		if(imagesToLoad == 0){
			drawTile(canvasContext, images['img/grass.png'].imageData, 0, 7);
			drawTile(canvasContext, images['img/grass.png'].imageData, 1, 6);
			drawTile(canvasContext, images['img/grass.png'].imageData, 1, 5);
			drawTile(canvasContext, images['img/grass.png'].imageData, 2, 4);
			drawTile(canvasContext, images['img/grass.png'].imageData, 2, 3);
			drawTile(canvasContext, images['img/grass.png'].imageData, 3, 2);
            drawTile(canvasContext, images['img/grass.png'].imageData, 1, 8);
			drawTile(canvasContext, images['img/grass.png'].imageData, 1, 7);
			drawTile(canvasContext, images['img/grass.png'].imageData, 2, 6);
			drawTile(canvasContext, images['img/grass.png'].imageData, 2, 5);
			drawTile(canvasContext, images['img/grass.png'].imageData, 3, 3);
            drawTile(canvasContext, images['img/grass.png'].imageData, 3, 4);
            drawTile(canvasContext, images['img/grass.png'].imageData, 1, 9);
			drawTile(canvasContext, images['img/grass.png'].imageData, 2, 8);
			drawTile(canvasContext, images['img/grass.png'].imageData, 2, 7);
			drawTile(canvasContext, images['img/grass.png'].imageData, 3, 5);
            drawTile(canvasContext, images['img/grass.png'].imageData, 3, 6);
			drawTile(canvasContext, images['img/grass.png'].imageData, 4, 4);
			drawTile(canvasContext, images['img/grass.png'].imageData, 4, 6);
			drawTile(canvasContext, images['img/grass.png'].imageData, 2, 10);
			drawTile(canvasContext, images['img/grass.png'].imageData, 2, 9);
			drawTile(canvasContext, images['img/grass.png'].imageData, 3, 9);
			drawTile(canvasContext, images['img/grass.png'].imageData, 3, 8);
			drawTile(canvasContext, images['img/grass.png'].imageData, 3, 7);
			drawTile(canvasContext, images['img/grass.png'].imageData, 4, 5);
			drawTile(canvasContext, images['img/grass.png'].imageData, 4, 7);
			drawTile(canvasContext, images['img/grass.png'].imageData, 4, 8);
			drawTile(canvasContext, images['img/grass.png'].imageData, 2, 11);
			drawTile(canvasContext, images['img/grass.png'].imageData, 5, 6);
			drawTile(canvasContext, images['img/grass.png'].imageData, 3, 10);
			drawTile(canvasContext, images['img/grass.png'].imageData, 3, 12);
			drawTile(canvasContext, images['img/grass.png'].imageData, 3, 11);
			drawTile(canvasContext, images['img/grass.png'].imageData, 4, 9);
			drawTile(canvasContext, images['img/grass.png'].imageData, 4, 10);
			drawTile(canvasContext, images['img/grass.png'].imageData, 5, 8);
			drawTile(canvasContext, images['img/grass.png'].imageData, 5, 7);
            //drawGameboard(canvasContext, images['img/blank.png'].imageData);
			
		}
	}
	
	function drawTile(context, image, x, y){
		var Xoffset = 0;
		var Yoffset = 16;
		var Xtile = 64;
		var Ytile = 16;
		if(isEven(y)){
			var Xoffset = 32;
		}
		context.drawImage(image, (x * Xtile) - Xoffset, ((y * Ytile) - Yoffset) - (image.height - 31));
	}
	
	function loaded(image, imagefile){
		images[imagefile].loaded = true;
		updateLoadProgress();
	}
	
	function loadImage(imagefile){
		images[imagefile].imageData = new Image();
		images[imagefile].imageData.src = imagefile;
		images[imagefile].imageData.onload = function() {
			loaded(images[imagefile].imageData, imagefile);
		}
	}
	
	function loadData(){
		for (var image in images) {
			if(!images[image].loaded){
				loadImage(image);
			}
		}
	}
        
    function drawGameboard(context, image){
		var even = false;
		var rowCount = 10;
		var Xoffset = 16;
		var Yoffset = -16;
		var Xtile = 64;
		var Ytile = 16;
		var columnCount = 20;
		var currentColumn = 7;
		while(currentColumn < columnCount){
			if(even){
				rowCount = 10;
				Xoffset = 0;
			}else{
				rowCount = 11;
				Xoffset = 32;
			}
			var currentRow = 0;
			while(currentRow < rowCount){
				context.drawImage(image,(Xtile*currentRow)-Xoffset,(Ytile*currentColumn)-Yoffset);
				currentRow++;
			}
			if(even){
				even = false;
			}else{
				even = true;
			}
			currentColumn++;
		}
	}
	
	function drawBackground(context, image){
		var even = false;
		var rowCount = 10;
		var Xoffset = 0;
		var Yoffset = 16;
		var Xtile = 64;
		var Ytile = 16;
		var columnCount = 31;
		var currentColumn = 0;
		while(currentColumn < columnCount){
			if(even){
				rowCount = 10;
				Xoffset = 0;
			}else{
				rowCount = 11;
				Xoffset = 32;
			}
			var currentRow = 0;
			while(currentRow < rowCount){
				context.drawImage(image,(Xtile*currentRow)-Xoffset,(Ytile*currentColumn)-Yoffset);
				currentRow++;
			}
			if(even){
				even = false;
			}else{
				even = true;
			}
			currentColumn++;
		}
	}
        };
        
    $('#btn-chat').click(function () {
    var msg = $('#btn-input').val();
    if (msg == "game") {
    $('#chat').append('<li class="right clearfix"><canvas id="GCanvas" width="640" height="220" style="border:1px solid #000000;"></canvas></li>'); 
    var canvas = document.getElementById("GCanvas");
    var ctx = canvas.getContext("2d");
    ctx.font = "20px Arial";
    ctx.fillText("Role Play Game Space",410,200);
    paintCanvas("GCanvas");
    }
    else {
    timenow = date_time();
    $('#chat').append('<li class="right clearfix"><span class="chat-img pull-right"><img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" /></span><div class="chat-body clearfix"><div class="header"><small class=" text-muted"><span class="glyphicon glyphicon-time"></span>' + timenow + '</small><strong class="pull-right primary-font">Game Player</strong></div><p>' + msg + '</p></div></li>'); 
        
    $("#panel-body").animate({scrollTop: $("#panel-body").get(0).scrollHeight}, 2000); 
        
    var chatresp = "init";
    $.ajax({url: '/gamebot', data: {msg:msg}, success: function(result) { $('#chat').append('<li class="left clearfix"><span class="chat-img pull-left"><img src="/img/GameMaster_Av.png" alt="User Avatar" class="img-circle" /></span><div class="chat-body clearfix"><div class="header"><strong class="primary-font">Game Master</strong> <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>' + timenow + '</small></div><p>' + result + '</p></div></li>'); } } ); 
    };
    $("#panel-body").animate({scrollTop: $("#panel-body").get(0).scrollHeight}, 2000); 
    
                   
    }
                   );
    </script>

</body>

</html>
